In [9]:
from IPython.display import display  # para usar display
import pandas as pd

In [ ]:
# CRIANDO UM DATAFRAME A PARTIR DE UM DICIONARIO

# dataframe = pd.DataFrame() - PARA FAZER UM DATAFRAME VAZIO
#venda = {'data': ['15/02/2021', '16/02/2021'],
        # 'valor': [500, 300],
        # 'produto': ['feijao', 'arroz'],
        # 'qtde': [50, 70],
        # }
#vendas_df = pd.DataFrame(venda)

In [11]:
# VISUALIZACAO DE DADOS
# display, print
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

In [ ]:
# IMPORTANDO ARQUIVOS E BASES DE DADOS

vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

In [ ]:
# RESUMOS DE VISUALIZACAO DE DADOS SIMPLES E UTEIS
# head, shape, describe

display(vendas_df.head(10))

print(vendas_df.shape)  # mostra quantidade de linha e colunas

display(vendas_df.describe())  # para fazer resumo da tabela

In [ ]:
# PEGAR 1 COLUNA (E OS PD.SERIES)

# se for mais de 1 coluna tem que haver 2 > [] < vendas_df[['produto', 'vendas']]
produtos = vendas_df['Produto']
display(produtos)

In [ ]:
# .LOC UM METODO MUITO IMPORTANTE:
# pegar 1 linha,
display(vendas_df.loc[1])

In [ ]:
# pegar linhas de acordo com alguma condicao,
vendas_norteshopping_df = display(
    vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

In [ ]:
# pegar linhas e colunas especificas,
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja, "Produto", "Quantidade" ]]
display(vendas_norteshopping_df)

In [ ]:
# pegar 1 valor especifico
print(vendas_df.loc[1, 'Produto'])

In [ ]:
# ADICIONAR 1 COLUNA
# a partir de uma coluna que existe
vendas_df['Comissao'] = vendas_df['Valor Final'] * 0.05

In [ ]:
# criar uma coluna com valor padrao
vendas_df.loc[:, "Imposto"] = 0

In [ ]:
# ADICIONAR 1 LINHA
# adicionar a tabela de dezembro
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)  # adicionar a linha de dezembro
display(vendas_dez_df)

In [ ]:
# EXCLUIR LINHAS E COLUNAS

# eixo 0 = linha, eixo 1 = coluna
vendas_df = vendas_df_drop("Imposto," axis=1)

In [ ]:
# VALORES VAZIOS
# Deletar linhas/ colunas completamente vazias
vendas_df = vendas_df.dropna(how='all', axis=1) 

# deletar linhas que possuem pelo menos 1 valor vazio
vendas_df = vendas_df.dropna()

#preencher valores vazios
#preencher com a media da coluna
vendas_df['Comissao' = vendas_df['Comissao'].fillna(vendas_df['Comissao'].mean)] 

#preencher com o ultimo valor
vendas_df = vendas_df.ffill()

In [ ]:
#Calcular indicadores

#value counts
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

#groupby
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum() #somando o faturamento, .mean() para saber a media

In [ ]:
#Mesclar 2 dataframes (procurar inforamcoes de um dataframe em outro)
gerentes_df = pd.read_excel("Gerentes.xlsx")
display(gerentes_df)

vendas_df = vendas_df.merge(gerentes_df)